name: CI/CD Security & Quality (Python)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # JOB 1: QUALITÉ DU CODE (SonarCloud)
  sonarcloud_scan:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' 

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 

        with:
          organization: miloupouetpouet
          projectKey: guardia-ultimate-gestion-produit-python

  # JOB 2: SÉCURITÉ DYNAMIQUE (OWASP ZAP)
  zap_scan:
    name: zapscan
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Start Python Server
        run: |
          nohup python main_app.py &
          sleep 15 

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: 'http://127.0.0.1:8080'
          fail_action: false
          artifact_name: 'zap-scan-report'